**.vscode
**.bak
**.bak0
**/.project
**/.settings
*.ew[dpw]
*.ipcf
*.slps
vscode.conf
*/artifact
*/.cproject
*/.projectchecksums
*/.projectlinkstore
*/*.Makefile
*/GNU ARM */
*/build/
*/*_cmake/
*/config/*.h
*/.uceditor
*/autogen/*
*/.trash/
*/*.project.mak
TBS2Torch/gecko_sdk_4.*
!TBS2Torch/gecko_sdk_4.*/protocol/zigbee/app/framework/plugin/level-control/level-control.c
TBS2Torch/raz1_custom_components_*/*


*/.pdm
*.pdf

*.*~

# workspace dirs
.browser
.metadata
outgoing
