**.vscode
**.bak
**/.project
**/.settings
*.ew[dpw]
*.ipcf
*.slps
vscode.conf
*/artifact
*/.cproject
*/.projectchecksums
*/.projectlinkstore
*/*.Makefile
*/GNU ARM */
*/.uceditor
*/autogen/*
*/.trash/
*/*.project.mak

*/.pdm
*.pdf

*.*~

# workspace dirs
.browser
.metadata
outgoing
